#nav{
    background-color: #0277bd;

}
#submit{
    background-color: #0277bd;
    
}
#submit1{
    background-color: #0277bd;
    
}
#submit2{
    background-color: #0277bd;
    
}
#map{
    height: 300px;
}

body {
    background-image: url("https://talentexpoblog.files.wordpress.com/2010/05/002-talent-expo-general.jpg");
    background-size: cover;
}
